@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Outfit:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:  hsl(145, 72%, 66%);
}

.card {
    width: 80%;
    max-width: 300px;
    background-color:  hsl(0, 0%, 100%);
    margin: 3em auto;
    border: 1px solid  hsl(0, 0%, 100%);
    border-radius: 18px;
    font-family: outfit, sans-serif;
    font-size: 1rem;
    text-align: center;
}

.section2 {
    margin: 1em 1.6em;
}

.section2 p {
    padding-top: 1em;
    padding-bottom: 2em;

}
img {
    max-width: 100%;
    padding: 1em;
    border-radius: 10%;
   
}